img.recommendation {
    width: 100%;
    height: 142px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.card.recommendation {
    width: 288px;
    height: 292px;
    padding: 16px;
}

.card-body {
    padding-bottom: 0;
}

.col-lg-12,
.col-lg-10,
.col-lg-9,
.col-lg-3 {
    padding: 0;
}

button.add-food {
    background: url('../../../public/menu/icon-add.png');
    width: 40px;
    height: 40px;
    border: none;
}
