.header {
  position: fixed;
  width: 100%;
  min-height: auto;
  top: 0;
  z-index: 12;
}

.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f2f2f2;
  padding: 22px 40px;
}

.left-side {
  display: flex;
  align-items: center;
}

.right-side {
  display: flex;
  align-items: center;
}

.packo {
  width: 144px;
}

.icon {
  height: 20px;
}

.form {
  display: flex;
  width: 100%;
  margin-left: 40px;
  align-items: center;
  border-radius: 20px;
  border-color: black;
  border-width: thin;
  border-style: solid;
  padding: 10px 16px;
}

.search {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  margin-left: 16px;
}

@media only screen and (max-width: 768px) {
  .left-side {
    flex-direction: column;
  }
  .header-top {
    flex-direction: column;
    padding: 11px 20px;
  }
  .form {
    margin: 16px 0;
  }
  .form input {
    width: 100%;
  }
}
