.navbar{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
}
.navbar>ul{
    display: flex;
    
}
@media only screen and (max-width:768px) {
    .navbar{
        overflow: hidden;
    }
    .navbar>ul{
      overflow-x:scroll ;
      
    }
  }