.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    overflow-x:scroll ;
    height: 56px;
}
.navbar>ul{
    display: flex;
    padding:0px;
}
.navbar::-webkit-scrollbar{
    display: none;
}