img {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
}

.card {
    width: 389.33px;
    height: 112px;
    padding: 16px;
}

.card-title {
    width: 263.33px;
}

button.add-food {
    background: url('../../../public/icon-add.png');
    width: 40px;
    height: 40px;
    border: none;
}
