.wrapper{
    display: flex;
    
}
.navItem{
    list-style: none;
}
.link{
    text-decoration: none;    
    display: flex;
}
.linkWrapper{
    display: flex;
}
.lastItem{
    pointer-events: none;
    color:black ;
}
.item{
    color: var(--brand-yellow);
}
.icon{
    color: var(--grey4);
    font-size: 13px;
    margin:3px 7.7px 0px 7.7px;
    display: flex;
}