body {
  font-family: 'Inter';
  font-style: normal;
}

:root{
  --brand-yellow:#E9AF53;
  --brand-purple:#4B3786;
  --grey1:#333333;
  --grey2:#4F4F4F;
  --grey3:#828282;
  --grey4:#BDBDBD;
  --grey5: #E0E0E0;
  --grey6:#F2F2F2;
}
.text-xs {
  font-size: 12px;
  line-height: 16px;
}
.text-sm {
  font-size: 14px;
  line-height: 20px;
}
.text-base {
  font-size: 16px;
  line-height: 24px;
}
.text-lg {
  font-size: 18px;
  line-height: 28px;
}

.text-xl {
  font-size: 20px;
  line-height: 28px;
}
.text-2xl {
  font-size: 24px;
  line-height: 32px;
}
.text-3xl {
  font-size: 30px;
  line-height: 36px;
}
.text-4xl {
  font-size: 36px;
  line-height: 40px;
}

.text-weight-regular {
  font-weight: 400;
}
.text-weight-medium {
  font-weight: 600;
}
.text-weight-bold {
  font-weight: 700;
}

main.menu {
  margin-right: 120px;
  margin-left: 120px;
}
.menu--container{
  background-color: var(--grey6);
}