.container {
  padding: 40px 120px 0 120px;
  display: flex;
  flex-direction: column;
}
.container:hover > .wrapper {
  visibility: visible;
  opacity: 1;
  height: fit-content;
}
.wrapper {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: fit-content 0.3s ease-in;
  transition: visibility  linear, opacity 0.5s linear;

}
.title,
.rate {
  margin-top: 40px;
  margin-bottom: 19px;
}
.navbar{
  margin-top: 48px;
}


@media screen and (max-width: 768px) {
  .wrapper {
    visibility: visible;
    opacity: 1;
    height: fit-content;
    margin:10px;
  }
  .container {
    padding: 40px 20px;
  }

  .row__left-wrapper>div{
    display: flex;
    flex-direction: column-reverse !important;
  }
}
