.nav--item {
  list-style-type: none;
  text-align: center;
  display: flex;
  width: fit-content;
}
.nav--item a{
  padding-left: 0;
}
.link {
  text-decoration: none;
}
.active {
  color: var(--brand-purple);
}
.inactive {
  color: var(--grey3);
}
.link--text {
  display: inline-block;
  padding:16px 24px 12px 24px;
}
.active > hr {
  border: none;
  height: 3px;
  background-color: var(--brand-yellow);
  align-self: stretch;
}
.inactive > hr {
  border: none;
  height: 3px;
  background-color: white;
}

@media screen and (max-width:688px) {
  .link{
    font-size: 13px !important;
  }
}